extends layout

block content
	#client.container
		div.row
			h1 Walk with Me
			p &copy; Copyright Pawsitive Pet Services 
		div.row
			a.col-xs-6(href="/client_list") VIEW ALL CLIENTS
			a.col-xs-6(href="/client_add") ADD CLIENT