extends layout

block content
	#client.container
		div.row
			h1 Walk with Me
			p &copy; Copyright Pawsitive Pet Services 
		div.row
			h2.col-sm-12 Client List
			table.col-sm-12
				tr
					th Photo
					th Name &amp; Address
					th Owner Info
					th Subcontract
					th Time
				tr
					td Dog Photo Here
					td Dylan<br>89 Richland, San Francisco, CA 94114
					td Becky<br>4157770101
					td No
					td Afternoon Walk 