extends layout

block content
	#login.container
		div.row
			h1 Walk with Me
			p &copy; Copyright Pawsitive Pet Services 
		div.row
			input.col-sm-12(type="text" placeholder="Email")
			input.col-sm-12(type="text" placeholder="Password")
			input.col-sm-12(type="text" placeholder="Confirm Password")
			input.col-sm-12(type="text" placeholder="Business Name")
			input.col-sm-12(type="number" placeholder="Zip Code")
			input.col-sm-12(type="number" placeholder="Year Start in Dog Industry")	
			div.row.center
				input.col-sm-3.center(type="checkbox")
				p.col-sm-7.center Remember Login
			button.col-sm-12.btn.btn-primary(onclick="registerSubmit()") Register
			div.row.center
				h5.col-sm-12.text-center Cancel	