body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray
}

a {
  color: #00B7FF;
}

#loginBackground {
	background-image: url("/images/login_background.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;
}


#logo {
	background-color: white;
	width: auto;
	padding: 15px;
	width: 280px;
	opacity: 0.95;
}

#login {
	padding: 50px;
	width: 80%;
	left: 50%;
	top: 70%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	background-color: white;
	opacity: 0.95;
}

#login div.row {
	margin: 10px 0px;
}

#login input {
	padding: 15px;
	border-radius: 10px;
	margin: 10px 0px;
}

#login h4 {
	width: 49.5%;
	display: inline-block;
	text-align: center;
}

.center {
	transform: translateX(-50%);
	left: 50%;
	position: relative;
}
